.App {
  
}

.navbar{
  width: 100%;  /* i'm assuming full width */
  height: 80px; /* change it to desired width */
  display: inline-block; 
}
.nav{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  
}
.nav li{
  text-align:center;
  line-height: 45px;
}
.nav a{
  font-size: 25px;
  padding: 5px 15px;
  opacity: 0.7;
  
}
.App-header {
  
  height: 50px;
  color: black;
  background-color: white;
  opacity: 0.7;
}

