.App {

}
body{
  margin: 0;
}
.logo{
  position: relative;
  left: 1vw;
  font-size: 40px;
  padding: 5px 15px;
  line-height: 50px;
  color: black;
}
.navbar{
  overflow: hidden;
  
  
}
.linkstyle{
  text-decoration: none;
  
}
ul {
  list-style-type: none;
}
.nav{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  font-family: Courier New, monospace;
  
}
.nav li{

  text-align:center;
  line-height: 55px;
}

.title{
  font-size: 20px;
  padding: 5px 10px;
  
}
.App-header {
  position: absolute;
  background-color:none;
  top:0;
  left:0;
  width: 100%;
  transition: background-color 0.5s 0.5s;
  height: 50px;
  color: black;
z-index: 1000;
}
.App-header:hover {
  transition: background-color 0.5s;
  background-color: white;
}
/*.App-header:hover .tt{
  transition: height 0.5s;
  height: 50px;
}
.tt{
  width: 100vw;
  position: absolute;
  z-index: 0;
  background-color: white;
  transition: height 0.5s 0.5s;
  height: 0;
}*/


