.cat_box{
    box-sizing: border-box;
    list-style-type: none;
    font-family: Courier New, monospace;
    position: relative;
    top:40px;
    width: auto;
    height: 50px;
    color: black;
    text-align: center;
  }
  .cat_title{
    font-family: Courier New, monospace;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    top: 50px;
    margin: 0;
    padding: 0;
    
  }
  .boxprice{
    height: 65vh;
    padding-bottom: 5vh;
  }
  .boxprice p{
    font-family: Courier New, monospace;
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }
  
.photoelem{
    width: 100%;
    height: 80%;
    position: relative;
    display: inline-block;
    
}
.description{
  font-size: 0.8rem;
}
.price{
  font-size: 1rem;
  
}
.container{
  width: 100%;
}
.boxphotos{
    margin-top: 5%;
    box-sizing: border-box;
    position: relative;
    
    width: 100%;
    display: flex;
  flex-wrap: wrap;
}
.boxphotos li{
  margin: 5px;
  display: block;
}
  .cat_box li{
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    line-height: 55px;
  }
  .titleitem{
    font-size: 20px;
    padding: 5px 10px;
    
  }
  .catalog{
    position: relative;
  }