.bar{
    color: black;
    font-size: 17px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
     
}
.linkstyle{
    text-decoration: none;
}
.bar:hover .menu:not(.close){
    height: 50vh;
transition: height 1s 0.44s;
    /*transition: height 1s;*/
}
.red{

    color: red;
}
.red:hover{
    border-bottom: 1px solid red;
}
.black{
    color: black;
}
.black:hover{
    border-bottom: 1px solid black;
}
.ulbox{
    text-transform: capitalize;
    padding: 100px 200px;
}
.ulbox li{
    color: black;
    position: relative;
    line-height: 20px;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 10px;
    height: 20px;
}
.ulbox li:hover{
    border-bottom: 1px solid black;
}
.close{
    display: inline-block;
    pointer-events: none;
}
.photo{
    padding: 10px;
    width: 20vw;
    height: 90%;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
}
span{
    position: relative;
    margin-left: 2vw;
}
.menu{
    overflow: hidden;
  width: 100%;
  height: 0;
  background: white;
  transition: height 0.5s;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 50px; 
    left: 0;
    color: grey;
    text-align: center;
}
